body{
    background: linear-gradient(135deg, #36246b, #61fdaf);
    font-family: Arial, sans-serif;
    margin: 0;
} 


.container {
    color: white;
    background-color: #36246b;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.1);
  transition: 0.35s;
  margin: 30px;
  min-height: 450px; 
  width: 50%;
}

.card {
    color: black;
    background-color: white;
    padding: 30px;
    min-height: 200px;
    border-radius: 10px;
}
footer{
    background-color: white;
    padding: 30px;
}

head{
    background-color: white;
}